services:
  portfolio-site:
    image: {{ portfolio_site_image }}
    restart: unless-stopped
    networks:
      - reverse-proxy

  portfolio-site-webhook:
    build:
      context: ./data/webhook
      dockerfile: Dockerfile
      args:
        UID: {{ portfolio_site_webhook_user_uid }}
        USER: {{ portfolio_site_webhook_user }}
    user: {{ portfolio_site_webhook_user }}:{{ portfolio_site_webhook_user }}
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data/webhook/hooks.json:/etc/webhook/hooks.json:ro
      - ./data/webhook/.ssh/id_ed25519:/etc/webhook/ssh_key:ro
    command: ["-verbose", "-hooks=/etc/webhook/hooks.json", "-hotreload", "-urlprefix={{ portfolio_site_webhook_path }}"]
    networks:
      - reverse-proxy

networks:
  reverse-proxy:
    external: true