services:
  traefik:
    image: traefik:v3
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./data/acme.json:/letsencrypt/acme.json 
      - ./data/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./data/dynamic:/etc/traefik/dynamic:ro
    networks:
      reverse-proxy:
        ipv4_address: 172.21.0.254
networks:
  reverse-proxy:
    driver: bridge
    name: reverse-proxy
    ipam:
      driver: default
      config:
        - subnet: 172.21.0.0/24